html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  min-height: 100vh; /* Adjust the value (40px) as needed for the footer's height and any additional spacing */
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  /* ... existing styles ... */
  flex-shrink: 0;
}


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form > div:not(:last-child) {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px; /* Add a margin at the bottom of each input */
  margin-left: 5px; /* Add a margin on the left side of each input */
  margin-right: 5px; /* Add a margin on the right side of each input */
}
